<!DOCTYPE html>
<html lang="es">
    <head th:replace="~{layout/fragmentos :: fCabecera}"></head>
    <body class="sb-nav-fixed">
        <nav th:replace="~{layout/fragmentos :: fBarraSuperior}"></nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="~{layout/fragmentos :: fMenu}"></nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container my-4">
                        <div th:if="${mensaje != null}" class="alert alert-warning alert-dismissible fade show" role="alert" id="alertMensaje">
                            <strong>Mensaje!</strong> <span th:text="${mensaje}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div th:if="${eliminar != null}" class="alert alert-danger alert-dismissible fade show" role="alert" id="alertEliminar">
                            <span th:text="${eliminar}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <form th:action="@{/empleado/guardar}" th:object="${empleado}" method="post" class="needs-validation" novalidate>
                            <div class="card">
                                <div class="card-header text-center">
                                    <h4>Registro de Empleados</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>DNI:</label>
                                            <input th:field="*{dni}" type="text" class="form-control" placeholder="Ingrese DNI" required/>
                                            <div class="invalid-feedback">Por favor ingrese DNI.</div>
                                            <div class="valid-feedback">Todo Correcto</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Nombre del Empleado:</label>
                                            <input th:field="*{nombre}" type="text" class="form-control" placeholder="Ingrese nombre" required/>
                                            <div class="invalid-feedback">Por favor ingrese el nombre del empleado.</div>
                                            <div class="valid-feedback">Todo Correcto</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Apellidos:</label>
                                            <input th:field="*{apellidos}" type="text" class="form-control" placeholder="Ingrese Apellidos" required/>
                                            <div class="invalid-feedback">Por favor ingrese Apellidos.</div>
                                            <div class="valid-feedback">Todo Correcto</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Celular:</label>
                                            <input th:field="*{celular}" type="text" class="form-control" placeholder="Ingrese Celular" required/>
                                            <div class="invalid-feedback">Por favor ingrese Celular.</div>
                                            <div class="valid-feedback">Todo Correcto</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Cargo:</label>
                                            <select th:field="*{cargo}" class="form-control" required>
                                                <option value="">Seleccione Cargo</option>
                                                <option value="Mecanico">Mecánico</option>
                                                <option value="Recepcionista">Recepcionista</option>
                                                <option value="Almacenero">Almacenero</option>
                                                <option value="Administrador">Administrador</option>
                                            </select>
                                            <div class="invalid-feedback">Por favor ingrese cargo.</div>
                                            <div class="valid-feedback">Todo Correcto</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Fecha:</label>
                                            <input th:field="*{fecha}" type="date" class="form-control" placeholder="Ingrese fecha" required/>
                                            <div class="invalid-feedback">Por favor ingrese fecha.</div>
                                            <div class="valid-feedback">Todo Correcto</div>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-dark" type="submit">
                                                <i class="fa-regular fa-floppy-disk"></i> Registrar Empleado
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="card mt-5">
                            <div class="card-header , text-center">
                                <h4>Empleados Registrados</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>DNI</th>
                                                <th>Nombre</th>
                                                <th>Apellidos</th>
                                                <th>Celular</th>
                                                <th>Cargo</th>
                                                <th>Fecha-Contratación</th>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item:${listaEmpleados}">
                                                <td th:text="${item.dni}"></td>
                                                <td th:text="${item.nombre}"></td>
                                                <td th:text="${item.apellidos}"></td>
                                                <td th:text="${item.celular}"></td>
                                                <td th:text="${item.cargo}"></td>
                                                <td th:text="${item.fecha}"></td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-warning editarEmpleado"
                                                    th:data-id="${item.id}"
                                                    th:data-dni="${item.dni}"
                                                    th:data-nombre="${item.nombre}"
                                                    th:data-apellidos="${item.apellidos}"
                                                    th:data-celular="${item.celular}"
                                                    th:data-cargo="${item.cargo}"
                                                    th:data-fecha="${item.fecha}">
                                                        <i class="fa-regular fa-pen-to-square">Editar</i>
                                                    </a>
                                                <td>
                                                <td class="text-center">
                                                    <a th:href="@{/empleado/eliminar/} + ${item.id}" class="btn btn-danger" 
                                                        onclick="return confirm('¿Desea eliminar el empleado')">
                                                        <i class="fa-solid fa-trash"></i> Eliminar
                                                    </a>                                               
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </main>
                <footer th:replace="~{layout/fragmentos :: fFooter}"></footer>
            </div>
        </div>

        <form th:action="@{/empleado/guardar}" th:object="${empleado}" method="post">
            <!-- Modal -->
            <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Empleado</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" th:field="*{id}">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>DNI:</label>
                                    <input name="dni" id="txtdni" type="text" class="form-control" placeholder="Ingrese dni"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Nombres:</label>
                                    <input name="nombre" id="txtNombre" type="text" class="form-control" placeholder="Ingrese nombres"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Apellidos:</label>
                                    <input name="apellidos" id="txtApellidos" type="text" class="form-control" placeholder="Ingrese apellidos"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Celular:</label>
                                    <input name="celular" id="txtcelular" type="text" class="form-control" placeholder="Ingrese celular"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Cargo:</label>
                                    <select name="cargo" id="txtcargo" class="form-control">
                                        <option value="" disabled selected>Seleccione Cargo</option>
                                        <option value="Mecanico">Mecánico</option>
                                        <option value="Recepcionista">Recepcionista</option>
                                        <option value="Almacenero">Almacenero</option>
                                        <option value="Administrador">Administrador</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Fecha:</label>
                                    <input name="fecha" id="txtfecha" type="date" class="form-control" placeholder="Ingrese fecha"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-regular fa-floppy-disk"></i> Guardar Cambios
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>



        <div th:replace="~{layout/fragmentos :: fLibrerias}"></div>
        <script th:src="@{/js/carrera.js}"></script>
        <script th:src="@{/js/validar.js}"></script>
        <script type="text/javascript" th:src="@{/js/empleado.js}"></script>
    </body>
</html>