<!DOCTYPE html>
<html lang="es">
    <head th:replace="~{layout/fragmentos :: fCabecera}"></head>
    <body class="sb-nav-fixed">
        <nav th:replace="~{layout/fragmentos :: fBarraSuperior}"></nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="~{layout/fragmentos :: fMenu}"></nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container my-4">
                        <div th:if="${mensaje != null}" class="alert alert-warning alert-dismissible fade show" role="alert" id="alertMensaje">
                            <strong>Mensaje!</strong> <span th:text="${mensaje}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div th:if="${eliminar != null}" class="alert alert-danger alert-dismissible fade show" role="alert" id="alertEliminar">
                            <span th:text="${eliminar}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <form th:action="@{/carrera/guardar}" th:object="${carrera}" method="post" class="needs-validation" novalidate>
                            <div class="card">
                                <div class="card-header text-center">
                                    <h4>Registrar Carrera</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nombre de la carrera:</label>
                                            <input th:field="*{nombre}" type="text" class="form-control" placeholder="Ingrese nombre" required/>
                                            <div class="invalid-feedback">Por favor ingrese el nombre de la carrera.</div>
                                            <div class="valid-feedback">Todo Correcto</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Facultad:</label>
                                            <input th:field="*{facultad}" type="text" class="form-control" placeholder="Ingrese facultad" required/>
                                            <div class="invalid-feedback">Por favor ingrese la facultad.</div>
                                            <div class="valid-feedback">Todo Correcto</div>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-dark" type="submit">
                                                <i class="fa-regular fa-floppy-disk"></i> Registrar carrera
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="card mt-5">
                            <div class="card-header , text-center">
                                <h4>Carreras Registradas</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Carrera</th>
                                                <th>Facultad</th>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item:${listaCarreras}">
                                                <td th:text="${item.nombre}"></td>
                                                <td th:text="${item.facultad}"></td>
                                                <td class="text-center">
                                                    <a th:href="@{/carrera/editar/} + ${item.id}" class="btn btn-warning">
                                                        <i class="fa-regular fa-pen-to-square"></i> Editar
                                                    </a>                                       
                                                </td>
                                                <td class="text-center">
                                                    <a th:href="@{/carrera/eliminar/} + ${item.id}" class="btn btn-danger" 
                                                        onclick="return confirm('¿Desea eliminar la carrera?')">
                                                        <i class="fa-solid fa-trash"></i> Eliminar
                                                    </a>                                               
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </main>
                <footer th:replace="~{layout/fragmentos :: fFooter}"></footer>
            </div>
        </div>
        <div th:replace="~{layout/fragmentos :: fLibrerias}"></div>
        <script th:src="@{/js/carrera.js}"></script>
        <script th:src="@{/js/validar.js}"></script>
    </body>
</html>